:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "Gilroy SemiBold", sans-serif;
    --third-family: "Manrope", sans-serif;
}

* {
    box-sizing: border-box;
}



html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

ul>li {
    list-style: none;
}

.nav__list-texts>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    min-width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

}

.hero {
    background-color: black;
    height: 100vh;
    background-image: url(../../imgs/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding-bottom: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
}

.nav-menu {

    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px 0px;
    text-align: center;
    display: flex;
}

.nav__items {

    gap: 73.02px;
    padding-left: 30px;
    display: flex;
}

.nav__logo {}

.nav__logo-text {}

.red__letter {
    color: #f15525;
}

.blue__letter {
    color: #38bff2;
}

.nav-list {
    gap: 41.1px;
    display: flex;
}

.nav__item {
    padding-top: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 104%;
    text-align: center;
    color: #22253b;
}

.nav__link {}

.nav__buttons {
    gap: 15px;
    padding-right: 12.9px;
    display: flex;
}

.reg__block-button {
    padding: 9px 14px;
}

.reg__btn {}

.log__block-button {
    border-radius: 34px;
    display: flex;
}

.log-btn {
    gap: 6px;
    border-radius: 34px;
    background: #38bbf3;
    padding: 9px 14px;
    display: flex;
}

.main__Page {
    display: flex;
}

.about-us {
    padding-top: 90px;
}

.about-Us__Prog {
    padding-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 46px;
    line-height: 104%;
    color: #22253b;
}

.p-line {
    border: 1px solid #dedede;
    width: 365px;
    height: 0px;
}

.prog-slash {
    font-family: var(--second-family);
    font-weight: 400;
    color: #f15525;
}

.dev-text {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
}

.go__test {
    padding-top: 32px;
    padding-bottom: 39px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: #22253b;
}

.go__to-test__btn {}

.go__to-test {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    padding: 20px 30px;
    border-radius: 82px;
    background-color: #f15525;
    display: flex;
}

.go-test__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 97%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
}

.svg__icon-go-test {
    padding-top: 5px;
}

.img__block {
    height: 708px;
}

.img-pc {
    height: 708px;
}